.x-axis,
.y-axis,
.xAxis,
.yAxis {
  display: none;
}

.dataBar {
  fill: #5d5c68;

  &.last {
    fill: #96BE3C;
  }

  &:hover {
    fill: #ffffff;
    cursor: pointer;
  }
}

.line {
  fill: none;
  stroke: #ffffff;
  stroke-width: 2px;
}

.vertLine {
  stroke: #5d5c68;
  stroke-width: 1px;
  &.first {
    display: none;
  }
}

.dataPoint {
  fill: #212226;
  stroke: #ffffff;
  stroke-width: 2;
  &:hover {
    cursor: pointer;
    stroke: #96BE3C;
  }
  &.last {
    stroke: #96BE3C;
  }
}
