@import 'partials/d3'; //#41454a

.data-panel {
  height: auto !important;
  margin-top: 0;
}

.data-panel__inside {
  display: none;
}

.data-panel .background {
  position: relative;
}

.primary-nav__after,
.primary-nav__before {
  display: none;
}

.data-panel+footer {
  margin-top: 0 !important;
}

.latest-data {
  display: none;
}
/* Our Data */

.ourData {
  background: #212226;

  .dataSections {
    .dataSection1,
    .dataSection2 {
      background: #2a2b31;
      padding: 60px 0;

      h2 {
        color: #ffffff;
        font-family: SourceSansPro-Light, SourceSansPro-Regular, arial, sans-serif;
        font-size: 3.25rem;
        line-height: 1.1;
      }
    }

    .historical {
      color: #5d5c68;
      font-family: SourceSansPro-Regular, arial, sans-serif;
      font-size: 0.9rem;
      text-align: right;
    }

    .dataContainer {
      min-height: 430px;
      max-width: 262px;
      background: #212226;
      border: 1px solid #5d5c68;
      border-radius: 10px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 12px;
      padding: 20px 0;
      position: relative;

      .mainStat,
      .mainStatDate,
      .mainStatPercentChange,
      h3 {
        padding: 0 20px;
      }

      .dataTooltip {
        position: absolute;
        background: url("https://www2.arccorp.com/globalassets/about-us/our-data/redesign/tooltip.png");
        height: 18px;
        width: 18px;
        top: 22px;
        right: 20px;
        z-index: 2;

        &:hover {
          cursor: pointer;
        }
      }

      .tooltip {
        background: rgba(255,255,255, 0.9);
        font-family: SourceSansPro-Regular, arial, sans-serif;
        color: #242529;
        padding: 12px;
        font-size: 0.85rem;
        border-radius: 5px;
        margin-bottom: 5px;
        margin-top: 5px;
        z-index: 9999999;
      }

      h3 {
        color: #ffffff;
        font-family: SourceSansPro-Semibold, SourceSansPro-Regular, arial, sans-serif;
        font-size: 1rem;
      }

      .mainStat {
        font-family: SourceSansPro-Light, SourceSansPro-Regular, arial, sans-serif;
        font-size: 2.125rem;
        color: #ffffff;
        margin-top: 20px;
        margin-bottom: 20px;
        overflow-wrap: break-word;
        text-align: center;
        position: relative;
      }

      .mainStatDate {
        font-size: 1rem;
        color: #ffffff;
        text-align: center;
        font-family: SourceSansPro-SemiBold, SourceSansPro-Regular, arial, sans-serif;
        margin-bottom: 15px;
        margin-top: 7px;
      }

      .mainStatPercentChange {
        color: #96BE3C;
        font-family: SourceSansPro-SemiBold, arial, sans-serif;
        font-size: 1.3rem;
        margin-top: 35px;

        .negative {
          color: #c67030;
        }
      }

      .mainStatPercentChangeCopy {
        display: inline-block;
        color: #5d5c68;
        font-family: SourceSansPro-Bold, arial, sans-serif;
        font-size: 1rem;
        margin-left: 5px;
      }

      .mainStatPercentChangeBar {
        margin-top: 15px;
        background: #5d5c68;
        height: 2px;
        overflow: hidden;
      }

      .barChange {
        height: 2px;
        background: #96BE3C;

        &.negative {
          background: #c67030;
        }
      }

      .svgChart {
        min-height: 150px;

        svg {
          display: block;
          margin: 0 auto;
        }
      }

      .btnContainer {
        position: absolute;
        padding: 0 20px;
        left: 0;
        bottom: 0;
        width: 100%;
      }

      a.ctaBtn {
        background: #5d5c68;
        border-color: #5d5c68;
        color: #242529;
        width: 100%;
      }

      a.ctaBtn:hover {
        background-color: #d4d4d4;
        border-color: #d4d4d4;
      }

      .mainStatcontainer {
        display: table;
        width: 100%;
        height: 100%;
      }
    }

    .mainStatInner {
      height: 53px;
    }

    .mainStatCurr {
      color: #727a83;
      font-size: 0.7rem;
      text-transform: uppercase;
      font-family: SourceSansPro-SemiBold, arial, sans-serif;
    }

    #emd-sales,
    #global-segments,
    #passenger-trips,
    #totalSales {
      .svgChart {
        min-height: 100px;
        margin-bottom: 5px;
      }
    }

    #global-segments {
      .mainStatDate {
        margin-bottom: 15px;
      }
    }

    #passenger-trips {
      .svgChart {
        background: url("https://www2.arccorp.com/globalassets/about-us/our-data/redesign/trips.png?123928") center center no-repeat;
        overflow: hidden;
        min-height: 102px;
        margin-top: 2px;
        background-position-y: 15px;
      }

      .mainStatDate {
        margin: 0;
      }
    }

    #data-airlines {
      padding-top: 0 !important;

      h3 {
        margin-bottom: 30px;
        position: absolute;
        height: 18px;
        width: 18px;
        top: 20px;
        left: 20px;
      }

      .svgChart {
        background: url("https://www2.arccorp.com/globalassets/about-us/our-data/redesign/airlines.png?123928") center center no-repeat;
        overflow: hidden;
        height: 335px;
      }

      .mainStat {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
      }
    }

    #data-commissions {
      .svgChart {
        background: url("https://www2.arccorp.com/globalassets/about-us/our-data/redesign/commissions.png?123928") center center no-repeat;
        overflow: hidden;
        padding: 35px 0;
        margin: 0 20px;
        height: 230px;
        border-bottom: 2px solid #5d5c68;
      }

      .mainStat {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
      }

      .mainStatInner {
        height: 40px;
      }

      .secondaryStats {
        margin: 0 auto;
        width: 150px;
      }

      .secondaryStat {
        display: inline-block;
        text-align: center;
        width: 70px;
        font-size: 0;
        line-height: 1.2;
        margin-top: 7px;
      }

      .secondaryStatPercent {
        color: #129bb2;
        font-family: SourceSansPro-Bold, arial, sans-serif;
        font-size: 20px;

        &.other {
          color: #c5b593;
        }
      }

      .secondaryName {
        color: #ffffff;
        font-family: SourceSansPro-SemiBold, arial, sans-serif;
        font-size: 15px;
      }

      .secondaryPrice {
        font-family: SourceSansPro-Bold, arial, sans-serif;
        font-size: 15px;
      }
    }

    #data-average-ticket-price {
      .mainStat {
        text-align: left;
        margin-bottom: 0;

        h3 {
          font-family: SourceSansPro-Light, SourceSansPro-Regular, arial, sans-serif;
          font-size: 2.125rem;
          color: #ffffff;
          padding: 0 0 0 20px;
          margin-bottom: 0;
        }

        .mainStatDate {
          font-family: SourceSansPro-SemiBold, arial, sans-serif;
          line-height: 50px;
          color: #ffffff;
          font-size: 0.875rem;
          text-align: right;
          margin-bottom: 0;
          margin-top: 0;
          stroke: none;
          text-rendering: optimizeLegibility;
        }

        .mainStatPercentChange {
          margin-top: 0;
        }
      }

      .mainStatPercentChangeBar {
        margin-bottom: 15px;
      }

      .mainStatPercentChange {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 1.175rem;
      }

      .ticketPrice {
        border-top: 1px solid #5d5c68;
        margin: 0 20px;

        &:hover {
          cursor: pointer;

          h3,
          p {
            color: #ffffff;
          }
        }

        &:last-child {
          border-bottom: 1px solid #5d5c68;
        }

        .row {
          height: 100%;
          line-height: 70px;
        }
        height: 70px;

        h3 {
          font-family: SourceSansPro-Light, SourceSansPro-Regular, arial, sans-serif;
          font-size: 2.125rem;
          color: #5d5c68;
          margin: 0;
          line-height: 70px;
        }

        p {
          font-family: SourceSansPro-SemiBold, arial, sans-serif;
          font-size: 0.8rem;
          line-height: 70px;
          color: #5d5c68;
          margin-left: 20px;
        }
      }
    }

    #data-retail {
      padding-top: 0;

      .svgChart {
        background: url("https://www2.arccorp.com/globalassets/about-us/our-data/redesign/agencies.png?123928") center center no-repeat;
        overflow: hidden;
        height: 335px;
      }

      .mainStat {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
      }

      h3 {
        margin-bottom: 30px;
        position: absolute;
        height: 18px;
        width: 222px;
        top: 20px;
        left: 0;
      }
    }

    .dataSection1 {
      background: #2a2b31 url("https://www2.arccorp.com/globalassets/about-us/our-data/redesign/dataSection1.jpg?1239s28") top center no-repeat;
      background-size: 100% auto;
      padding-top: 20px;
      position: relative;

      h2 {
        color: #888888;
        padding: 60px 0 80px;

        span {
          font-family: SourceSansPro-SemiBold, SourceSansPro-Regular, arial, sans-serif;
          color: #fd2472;
        }
      }

      .container {
        position: relative;
        z-index: 2;
      }
    }

    .dataSection2 {
      background: #2a2b31 url("https://www2.arccorp.com/globalassets/about-us/our-data/redesign/dataSection2.jpg?lsdf") top center no-repeat;
      background-size: 100% auto;
      position: relative;
      overflow: hidden;

      .geoPatternWhite {
        position: absolute;
        left: 0;
        top: 0;
      }

      h2 {
        padding: 220px 0 60px;

        span {
          font-family: SourceSansPro-SemiBold, SourceSansPro-Regular, arial, sans-serif;
          color: #189bb0;
        }
      }
    }
  }

  .dataProduct {
    .owl-carousel.owl-theme .owl-dots .owl-dot span {
      background: #bbbbbb;
      color: #565350;
      border-radius: 0;
      width: 40px;
      height: 6px;
      margin: 5px 7px 5px 0;
    }

    .home-page .owl-carousel .owl-theme .owl-dots .owl-dot:hover span,
    .owl-carousel.owl-theme .owl-dots .owl-dot.active span {
      background: #189bb0;
    }

    .owl-jumbotron {
      .owl-dots {
        bottom: 35px;
        position: absolute;
        right: 51%;
        width: 570px;
        margin-right: 0;
        text-align: left;
      }

      .owl-nav {
        display: none;
      }

      .owl-nav {
        display: none;
      }
    }

    .owl-theme .owl-dots .owl-dot {
      display: inline-block;
      zoom: 1;
      *display: inline;
    }

    .owl-carousel {
      .carousel-slide {
        margin: 0 auto;
        display: table;
        color: #ffffff;
        font-family: SourceSansPro-Regular, helvetica, arial, sans-serif;
        padding: 0;
        height: 600px;
        vertical-align: middle;
        max-width: 1170px;
        width: 100%;
      }

      .carousel-slide-content {
        position: relative;
        display: table-cell;
        vertical-align: middle;
        text-align: left;
        max-width: 700px;
        width: 100%;
        z-index: 3;

        .carousel-eyebrow {
          font-family: SourceSansPro-Bold, helvetica, arial, sans-serif;
          color: #fd2472;
          text-transform: uppercase;
          font-size: 0.9rem;
          margin-bottom: 12px;
        }

        .block-header {
          font-family: SourceSansPro-Light, helvetica, arial, sans-serif;
          font-size: 3rem;
          color: #e1e1e1;
          text-align: left;
        }

        p {
          font-family: RobotoSlab-Light, helvetica, arial, sans-serif;
          font-size: 1.125rem;
          line-height: 1.75rem;
          color: #e1e1e1;
        }
      }

      .slide-11 {
        background: url("https://www2.arccorp.com/globalassets/about-us/our-data/redesign/product1.jpg") right center no-repeat;
        background-size: auto 100%;
        background-position-x: 450px;
      }

      .slide-12 {
        background: url("https://www2.arccorp.com/globalassets/about-us/our-data/redesign/product3.jpg") right center no-repeat;
        background-size: auto 100%;
        background-position-x: 450px;
      }

      .slide-13 {
        background: url("https://www2.arccorp.com/globalassets/about-us/our-data/redesign/product4.jpg") right center no-repeat;
        background-size: auto 100%;
        background-position-x: 450px;
      }
    }
  }

  .transactionData {
    background: #2a2b31 url("https://www2.arccorp.com/globalassets/about-us/our-data/redesign/transactionaldata.jpg") top center no-repeat;
    background-size: 100% auto;
    padding: 90px 0 60px;

    .transactionTitle {
      text-align: center;
    }

    h2 {
      color: #ffffff;
      font-family: SourceSansPro-Semibold, SourceSansPro-Regular, arial, sans-serif;
      font-size: 3.25rem;
      margin-bottom: 60px;
      line-height: 1;
    }

    .dataFeatures {
      background: rgba(0,0,0,0.7);
      color: #ffffff;
      padding: 54px 85px;

      img {
        margin-bottom: 20px;
      }

      .dataFeature {
        padding: 0 35px;
      }

      .dataFeatureTitle {
        border-top: 2px solid #189bb0;
        font-family: SourceSansPro-Semibold, SourceSansPro-Regular, arial, sans-serif;
        font-size: 1.5rem;
        padding-top: 15px;
        padding-bottom: 15px;
      }

      p {
        color: #d6d8db;
        line-height: 1.5;
      }
    }
  }

  .dataArticles {
    padding: 80px 0;
    text-align: center;

    h2 {
      color: #ffffff;
      font-family: SourceSansPro-Semibold, SourceSansPro-Regular, arial, sans-serif;
      font-size: 3.25rem;
      margin-bottom: 60px;
      line-height: 1;
    }

    .dataArticleSection {
      max-width: 1170px;
      margin: 0 auto;
    }

    .dataArticle {
      max-width: 280px;
      min-height: 570px;
      margin: 0 auto;
      background: rgba(0,0,0,0.2);
    }

    .dataArticleBody,
    .dataArticleTitle {
      padding-left: 20px;
      padding-right: 20px;
    }

    .dataArticleImg {
      text-align: center;

      img {
        max-width: 280px;
        width: 100%;
      }
    }

    .dataArticleTitle {
      text-align: left;
      margin: 25px 0;

      a {
        font-family: SourceSansPro-Regular, arial, sans-serif;
        color: #ffffff;
        font-size: 21px;
      }
    }

    .dataArticleBody {
      text-align: left;
      color: #bbbbbb;
      font-size: 14px;
      line-height: 1.5;
    }

    .dataArticleLink {
      text-align: left;
      color: #189bb0;
      position: absolute;
      bottom: 15px;
      margin-top: 10px;
      left: 45px;

      a {
        font-family: SourceSansPro-SemiBold, helvetica, arial, sans-serif;
        text-transform: uppercase;

        &::after {
          font-family: 'icomoon';
          content: "\E909";
          font-size: 0.675rem;
          margin-left: 10px;
        }
      }
    }
  }

  .ourStory {
    background: url("https://www2.arccorp.com/globalassets/about-us/our-data/redesign/ourStory.jpg") center center no-repeat;
    background-size: cover;
    position: relative;
    color: #ffffff;
    padding: 150px 0;
    overflow: hidden;

    h2 {
      color: #ffffff;
      font-family: SourceSansPro-Semibold, SourceSansPro-Regular, arial, sans-serif;
      font-size: 3.25rem;
      margin-bottom: 30px;
      line-height: 1;
    }

    .blockText {
      max-width: 1170px;
      margin: 0 auto;
    }

    .geoPatternWhite {
      position: absolute;
      left: 0;
      top: -30%;
    }
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
